<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span style="margin-left: 15px;"> Wecome to anguler learning</span>
     <!-- <span style="margin-left: 14px;" routerLink="/auth/login">Login</span>
     <span style="margin-left: 30px;" routerLink="/auth/sign-up">Sign-up</span> -->
     <span class="example-spacer"></span>
     <button mat-icon-button class="example-icon" (click)="logout()" aria-label="Example icon-button with share icon">
      <mat-icon>logout</mat-icon>
    </button>
    </mat-toolbar>
  </p>