.body{
  padding: 0px; 
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh; /* vh stands for viewport height */
  }

  .form-box {
    border: 1px solid #ccc;
    padding: 25px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }