<!-- <div class="home-body">
<h1>Welcome To the Home</h1>

<img src="https://webneel.com/daily/sites/default/files/images/daily/08-2018/1-nature-photography-spring-season-mumtazshamsee.preview.jpg" alt="image" style="width: 100%;height: auto;" >
</div> -->

<div class="parent">
    <h1>Welcome To the Home</h1>
    <div id="heading">
        <img src="https://webneel.com/daily/sites/default/files/images/daily/08-2018/1-nature-photography-spring-season-mumtazshamsee.preview.jpg" alt="image" style="width: 100%;height: 20%;" >
    </div>
   </div>